# Introduction into python

Python is an optimal programming language for data science and machine learning.
For detailed information, start [here](https://en.wikipedia.org/wiki/Python_(programming_language)).


One can implement simple tasks like in a pocket calculator but also very complex tasks like machine learning. Still, we can use notebooks like these to run python code transparently.

Let's start with some simple operations.

**Standards Operators** as one would use in a pocket calculator

* Addition: `+`

* Subtraction: `-`

* Multiplication: `*`

* Division: `/`

* Exponentiation: `**`

In [ ]:
1+3+4

8

In [ ]:
8-9

-1

In [ ]:
8*6

48

In [ ]:
6**2

36

In [ ]:
6**2+59+99*55

5540

**Exercise**: Think of a calculation and write the operation in the cell below.

**Functions**

Functions allow combining multiple operations so that more complex processes can be implemented clearly. Often functions are part of a library. In the following example, we use the `log` function from the `NumPy` library.

Later we will define functions ourselves, where we customize the integrated processes.

In [ ]:
from numpy import log

log(4) # this gives back the logarithm of 4

1.3862943611198906

In [ ]:
def plus_two(number):
    return number + 2

plus_two(12110)

12112

**Variables**

Variables can store numbers, text, or more complex structures. Here are two examples. `numeric` holds a number, `character` stores a text, and `logical` holds either `True` or `False`. The `=` sign allows to assign the variable with a piece of information. The `print function allows to present the stored information of a variable.

In [ ]:
numeric = 10
character = "Hi!"
logical = False

print(numeric)
print(character)
print(logical)

10
Hi!
False

This is powerful as we also can use the variables to manipulate the associated values.

In [ ]:
x = numeric
x+5

15

In [ ]:
z = 9
x+z

19

Critical here is to remember which type of information is stored in the variable. E.g., for apparent reasons, `x+y` will lead to an error message. But `'x'+y` will work. The critical difference here is that with hyphen indicators, we do not use the variable named `x`, but the character x and extend the information stored in `y` with this additional character.

In [ ]:
name = "Gertrud"
begruessung = "Dear " + name + ", how are you?"

print(begruessung)

name = "Anton"
begruessung = "Dear " + name + ", how are you?"

print(begruessung)

Dear Gertrud, how are you?
Dear Anton, how are you?

With the `type()` function, one can identify the type of information stored in the variable.

In [ ]:
type(z)

int

`int` indicates that in `x` an integer is stored (i.e., the number without decimals).

In [ ]:
type(x+1)

int

`float` indicates that stored information is a number with decimals.

In [ ]:
type(character)

str

In [ ]:
type(logical)

bool

**Exercise**: Define two variables and manipulate them.

**Comparison operators**:

* `<`  for less than

* `>`  for greater than

* `<=` for less than or equal to

* `>=` for greater than or equal to

* `==` for equal to each other

* `!=` not equal to each other

In [ ]:
y = 10
print(x != y)
print(x > z)

False
True

In [ ]:
z == 10

False

The result of a comparison is always a logical value (`True` or `False`)

**`if`, `else` statements**

These statements are used to differentiate between values based on comparison operators.

`if` indicates that if some statement is `True`, then do something.

In [ ]:
if x > z:
    print ("x is greater than z")

x is greater than z

With the `else` statement, all possible alternatives are covered. In our case, all situations in which `x < z`. In the following example, we have this situation.

In [ ]:
z = z+x

In [ ]:
if x > z:
    print ("x is greater than z")
else:
    print ("z is greater than x")

z is greater than x

More specific statements can be achieved by `elif`, which means else if that allows specifying additional cases.

In [ ]:
if x > z:
    print ("x is greater than z")
elif z == x+50:
    print ("z is equal to x plus 50")
else:
    print ("z is greater than x")

z is greater than x

**Exercise**: Define a new variable and use an `if/else` statement to define if it is larger or smaller than z.

**Variables that include multiple items**:

One can store multiple pieces of information in one variable.

In [ ]:
l = [x,z]
print(l)

[10, 19]

In [ ]:
l_2 = [x,z,50,18]
l_2

[10, 19, 50, 18]

In [ ]:
l_3 = ["x","z",50,78]
l_3

['x', 'z', 50, 78]

In [ ]:
l_4 = ["x","z","50","78"]
l_4

['x', 'z', '50', '78']

The `len` function can be used to count the number of items of a list.

In [ ]:
len(l)

2

In [ ]:
len(l_3)

4

When one wants to select one element out of a list, one can use a numeric index.

In [ ]:
l_4[2]

'50'

In [ ]:
l[1]

19

Another way to select specific items of a list would be based on `if/else` statements. Here the word `in` is central.

In [ ]:
if x in l_2:
    print ("x is in the list l_2")
else:
    print ("x is not in the list l_2")

x is in the list l_2

In [ ]:
if x in l_3:
    print ("x is in the list l_3")
else:
    print ("x is not in the list l_3")

x is not in the list l_3

**Exercise**: Use a `if/else` statement to check if the value 78 is in `l_3` and `l_4`.

**`for` loop**

Loops allow repeating a process. This can be very helpful at times. In the first example, we take every item of `l_2`, add `10` to the value and print it.

In [ ]:
for value in l:
    print(value+10)

20
29

**Exercise**: Write a loop that prints all values of `l_4` with the words `"This is a value of l_4:" `.